.mf-component-machinery-job-registry-dialog {
    &-card {
        border-radius: 0 !important;

        .v-card__progress {
            height: 4px;
        }

        .v-card__title {
            padding: 0 !important;
        }

        .v-card__text {
            padding-top: 20px !important;
        }
    }
}
