.mf-page-login {
    .container-alert {
        padding: 0 12px;
    }

    .input-password {
        margin-top: $space-sm;
    }

    .btn-login,
    .btn-recover-password {
        margin-top: $space-md;
    }
}
