.mf-page-recover-password {
    .container-alert {
        padding: 0 12px;
    }

    .instructions {
        text-align: justify;
    }

    .btn-get-code,
    .btn-back {
        margin-top: $space-md;
    }
}

.mf-page-recover-password-confirm {
    .container-alert {
        padding: 0 12px;
    }

    .help p {
        margin-bottom: 0;
        text-align: justify;
    }

    .input-confirm-password,
    .input-code {
        margin-top: $space-sm;
    }

    .btn-change-password,
    .btn-back {
        margin-top: $space-md;
    }
}
